app = 'scraper-ig'
primary_region = 'gru'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[build]
  dockerfile = "Dockerfile"

[env]
  SHOW_PROGRESS = "false"
  FLY_APP_NAME = "scraper-ig"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 4